<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início - FlagGame</title>
    <link rel="stylesheet" href="/css/inicio.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/inicio">Início</a></li>
                <li><a href="/login">Entrar</a></li>
                <li><a href="/sobre">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="main-content">
            <img src="/img/planet-earth.png" alt="Planeta Terra">
            <h1>FlagGame</h1>
            <!-- <p>Você é bom em reconhecer bandeiras? Vamos testar seus conhecimentos! No nosso jogo de adivinhação de
                    bandeiras, você terá que identificar a bandeira de vários países ao redor do mundo.</p> -->
            <a href="/modosDeJogo" class="button">JOGAR</a>
        </div>
    </main>

    <footer>
        <!-- Conteúdo do rodapé -->
    </footer>
</body>

</html>
