<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modos de Jogo - Flaggame</title>
    <link rel="stylesheet" href="/css/modosDeJogo.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/inicio">Início</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="main-content">
            <div class="mode">
                <img src="/img/terra.png" alt="Terra">
                <a href="/public/modosDoJogo/normal.html" class="button">Normal</a>
            </div>
            <div class="mode">
                <img src="/img/errouTerminaIcon.png" alt="Errou Termina">
                <a href="/modosDoJogo/errouTermina" class="button">Errou Termina</a>
            </div>
            <div class="mode">
                <img src="/img/60segIcon.png" alt="60 segundos">
                <a href="/public/modosDoJogo/sessentaSegundos.html" class="button">60 Segundos</a>
            </div>
        </div>
    </main>

    <footer>
    </footer>
</body>

</html>
