<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score - Flaggame</title>
    <link rel="stylesheet" href="/css/score.css">
</head>

<body>

    <main>
        <div class="score-container">
            <h1>Seu Score</h1>
            <div class="score-box">
                <p>Erros: <span class="score" id="wrongCount"><%= errorCount %></span></p>
                <p>Acertos: <span class="score" id="correctCount"><%= correctAnswers %></span></p>
            </div>
            <a href="/modosDeJogo" class="button">Jogar novamente</a>
        </div>
    </main>

    <footer></footer>

</body>

</html>
