<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - FlagGame</title>
    <link rel="stylesheet" href="/css/sobre.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/inicio">Início</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="main-content">
            <div class="about-container">
                <img src="/img/background-b.avif" alt="Foto dos criadores" class="profile-pic">
                <p class="about-text">
                    FlagGame é um jogo desenvolvido pelos alunos da turma 913-A do IFAL Campus Maceió. O objetivo é
                    testar o conhecimento dos jogadores sobre bandeiras dos estados brasileiros. Divirta-se aprendendo
                    sobre o Brasil com os nossos criadores:
                </p>
                <ul class="team-list">
                    <li><%= teamMembers[0] %></li>
                    <li><%= teamMembers[1] %></li>
                    <li><%= teamMembers[2] %></li>
                    <li><%= teamMembers[3] %></li>
                </ul>
            </div>
        </div>
    </main>

    <footer></footer>
</body>

</html>
