@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: hsl(220, 93%, 6%);
}

header {
    text-align: right;
    height: 4vh;
    width: 100vw;
    background-color: hsl(220, 93%, 6%);
}

nav li {
    display: inline;
    margin: 1.5rem;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-around;
    width: 95vw;
    height: 60%;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 5%);
}

input {
    padding: 0.4rem 7.5rem 0.4rem 0.5rem;
    margin: 0.7rem;
    border-radius: 0.3rem;
    border: none;
    color: white;
    background-color: black;
}

input::placeholder {
    color: white;
}

button {
    height: 35px;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #044484;
    color: whitesmoke;
    font-size: medium;
}

button:hover {
    transition: 0.2s;
    cursor: pointer;
    background-color: hsl(210, 94%, 37%);
}

img {
    width: 5%;
}

h2 {
    color: whitesmoke;
    font-weight: 300;
}

p{
    color: white;
    text-decoration: none;
}

a { 
    
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}