@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: hsl(220, 93%, 6%);
    color: white;
    margin: 0;
}

header {
    width: 100%;
    background-color: hsl(220, 93%, 6%);
    padding: 1rem 2rem;
    position: fixed; /* Fixa a barra de navegação no topo */
    top: 0;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin-left: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ocupa toda a altura da janela */
    padding-top: 4rem; /* Compensa o espaço do header fixo */
}

.main-content {
    display: flex;
    gap: 3rem; /* Espaçamento entre os modos */
    justify-content: center;
    align-items: center;
}

.mode {
    display: flex;
    flex-direction: column; /* Imagem e botão em coluna */
    align-items: center;
    gap: 1.5rem; /* Espaço entre a imagem e o botão */
    width: 200px; /* Define largura consistente para os blocos */
}

img {
    width: 150px; /* Define o tamanho das imagens */
    height: 150px;
    object-fit: contain;
}

.button {
    background-color: #044484;
    border-radius: 0.5rem;
    font-size: 1.2rem; 
    color: whitesmoke;
    text-decoration: none;
    padding: 0.8rem 2rem; 
    max-width: 160px; 
    box-shadow: hsla(0, 1%, 78%, 0.35) 0px 5px 15px;
}

a.button{
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: hsl(210, 94%, 37%);
    transition: 0.2s;
}
